@import 'tailwindcss';

@plugin "@tailwindcss/typography";

/* @theme {
  --color-blue: "#3c52eb";
  --color-blue-light: "#b3cafe";
  --color-red: "#e22420";
  --color-purple: "#7e5bef";
  --color-purple-light: "#D6E3F3";
  --color-purple-light: "#E9DCF6";
  --color-pink: "#e76fca";
  --color-orange: "#ff7849";
  --color-green: "#76e99b";
  --color-green-light: "#DEECDB";
  --color-yellow: "#ffd765";
  --color-yellow-light: "#EFE4AC";
  --color-gray-dark: "#636260";
  --color-gray: "#D9D9D9";
  --color-gray-light: "#F8F8F7";
  --color-white: "#fff";

  --font-sans: Inter, Roboto, sans-serif;
} */

@theme {
  --color-blue: '#3c52eb';
  --color-blue-light: '#b3cafe';
  --color-red: '#e22420';
  --color-purple: '#7e5bef';
  --color-purple-300: '#D6E3F3';
  --color-pink: '#e76fca';
  --color-orange: '#ff7849';
  --color-green: '#76e99b';
  --color-green-300: '#DEECDB';
  --color-yellow: '#ffd765';
  --color-yellow-300: '#EFE4AC';
  --color-gray-dark: #636260;
  --color-gray: #d9d9d9;
  --color-gray-light: #f8f8f7;

  --color-white: #fff;

  --font-sans: Inter, Roboto, sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    @apply relative bg-white font-sans;
  }
  p,
  h6 {
    @apply text-base;
  }
  button {
    @apply px-2 py-1 border flex gap-1 rounded-md cursor-pointer;
  }
  .show-navbar {
    @apply ml-[240px];
  }
  .hidden-navbar {
    @apply ml-[40px];
  }
  .show-navbar_main {
    @apply relative ml-[240px] mt-10 z-0;
  }
  .hidden-navbar_main {
    @apply relative ml-[40px] mt-12 z-0;
  }
  .shadow-box {
    @apply bg-white shadow-[0_1px_4px_rgba(0,0,0,0.25)] rounded-xl;
  }
  .prose {
    @apply !max-w-[700px];
  }
}

html {
  zoom: 100%;
}

input:focus,
textarea:focus {
  outline: none;
  border: none;
}

/* textarea {
  outline: none;
  border-style: none;
  border-radius: 4px;
  background-color: #eee;
  padding: 10px 15px;
  width: 100%;
  background-color: #e0e8fd;
  font-size: 14px;
} */

/* .shadow-box {
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
} */

/* ::-webkit-calendar-picker-indicator {
  padding: 5px;
  padding-right: 25px;
  cursor: pointer;
  border-radius: 3px;
  width: 25px;
} */

/* Элемент будет вдавленным */
/* .inset {
  box-shadow: inset -5px -5px 5px #e0e8fd, inset 2px 2px 5px #bfc0c5;
} */

/* Элемент будет выпуклым */
/* .outset {
  box-shadow: 1px 1px 5px #bfc0c5, -5px -5px 8px #e0e8fd;
}
.outset button:hover {
  background: linear-gradient(145deg, #2b303f, #242935);
  box-shadow: 5px 5px 5px #bfc0c5, -5px -5px 5px #e0e8fd;
}
.outset button:active {
  color: black;
  background: #eff3ff;
  box-shadow: inset 5px 5px 8px #cbcfd9, inset -5px -5px 8px #e0e8fd;
}

.outset-main {
  box-shadow: 5px 5px 8px #cbcfd9, -5px -5px 8px #e0e8fd;
}

.outset-header {
  box-shadow: 3px 3px 8px #3a3a3a;
}

.inset-input {
  background: #eff3ff;
  box-shadow: inset 5px 5px 8px #cbcfd9, inset -5px -5px 8px #e0e8fd;
}

.outset-nav {
  background: #2f3545;
  box-shadow: 5px 5px 8px #282d3b, -5px -5px 8px #363d4f;
}
.outset-nav:hover {
  background: linear-gradient(145deg, #2b303f, #242935);
  box-shadow: 5px 5px 8px #222632, -5px -5px 8px #2e3444;
}
.outset-nav:active {
  background: #282d3b;
  box-shadow: inset 5px 5px 8px #222632, inset -5px -5px 8px #2e3444;
} */

/* button:hover {
  box-shadow: 5px 5px 5px #bfc0c5, -5px -5px 5px #fff;
}
button:active {
  color: black;
  background: #eff3ff;
  box-shadow: inset 5px 5px 8px #cbcfd9, inset -5px -5px 8px #ffffff;
} */

/* NAV */
