@import "tailwindcss";

/* @theme {
  --color-blue: "#3c52eb";
  --color-blue-light: "#b3cafe";
  --color-red: "#e22420";
  --color-purple: "#7e5bef";
  --color-purple-light: "#D6E3F3";
  --color-purple-light: "#E9DCF6";
  --color-pink: "#e76fca";
  --color-orange: "#ff7849";
  --color-green: "#76e99b";
  --color-green-light: "#DEECDB";
  --color-yellow: "#ffd765";
  --color-yellow-light: "#EFE4AC";
  --color-gray-dark: "#636260";
  --color-gray: "#D9D9D9";
  --color-gray-light: "#F8F8F7";
  --color-white: "#fff";

  --font-sans: Inter, Roboto, sans-serif;
} */

@theme {
  --color-blue: #1fb6ff;
  --color-purple: #7e5bef;
  --color-pink: #ff49db;
  --color-orange: #e15225;
  --color-orange-second: #f5744c;
  --color-orange-third: #f9cbbb;
  --color-orange-dark: #b04623;
  --color-orange-light: #f9e1da;
  --color-green: #13ce66;
  --color-yellow: #ffc82c;
  --color-gray-dark: #404040;
  --color-gray: #8492a6;
  --color-gray-light: #f8f8f7;

  --font-sans: Inter, Roboto, sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  body {
    @apply bg-white font-sans;
  }
  p {
    @apply text-sm;
  }
}

h6,
p {
  font-size: 14px;
}

input,
textarea,
button,
select {
  outline: none;
  border-style: none;
  border-radius: 4px;
  background-color: #eee;
  padding: 10px 15px;
  width: 100%;
  background-color: #e0e8fd;
  font-size: 14px;
}

/* ::-webkit-calendar-picker-indicator {
  padding: 5px;
  padding-right: 25px;
  cursor: pointer;
  border-radius: 3px;
  width: 25px;
} */

/* Элемент будет вдавленным */
.inset {
  box-shadow: inset -5px -5px 5px #e0e8fd, inset 2px 2px 5px #bfc0c5;
}

/* Элемент будет выпуклым */
.outset {
  box-shadow: 1px 1px 5px #bfc0c5, -5px -5px 8px #e0e8fd;
}
.outset button:hover {
  background: linear-gradient(145deg, #2b303f, #242935);
  box-shadow: 5px 5px 5px #bfc0c5, -5px -5px 5px #e0e8fd;
}
.outset button:active {
  color: black;
  background: #eff3ff;
  box-shadow: inset 5px 5px 8px #cbcfd9, inset -5px -5px 8px #e0e8fd;
}

.outset-main {
  box-shadow: 5px 5px 8px #cbcfd9, -5px -5px 8px #e0e8fd;
}

.outset-header {
  box-shadow: 3px 3px 8px #3a3a3a;
}

.inset-input {
  background: #eff3ff;
  box-shadow: inset 5px 5px 8px #cbcfd9, inset -5px -5px 8px #e0e8fd;
}

.outset-nav {
  background: #2f3545;
  box-shadow: 5px 5px 8px #282d3b, -5px -5px 8px #363d4f;
}
.outset-nav:hover {
  background: linear-gradient(145deg, #2b303f, #242935);
  box-shadow: 5px 5px 8px #222632, -5px -5px 8px #2e3444;
}
.outset-nav:active {
  background: #282d3b;
  box-shadow: inset 5px 5px 8px #222632, inset -5px -5px 8px #2e3444;
}

/* button:hover {
  box-shadow: 5px 5px 5px #bfc0c5, -5px -5px 5px #fff;
}
button:active {
  color: black;
  background: #eff3ff;
  box-shadow: inset 5px 5px 8px #cbcfd9, inset -5px -5px 8px #ffffff;
} */

/* NAV */
